@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  outline: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.fcnt {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.nav-brand {
  color: #f1356d;
}
.side-links a {
  text-decoration: none;
  margin-bottom: -10px;
  margin: 10px;
  color: gray;
}
.content-bold {
  font-size: 35px;
  color: #f1356d;
  font-weight: bold;
}
.contenty {
  margin-top: 50px;
}
.home-icon {
  margin-right: 15px;
  color: #f1356d;
}
.home-content1 {
  background-color: whitesmoke;
  padding-top: 100px;
  height: 300px;
  border-bottom: 10px solid rgb(245, 245, 245);
  border-bottom: 10px solid rgba(245, 245, 245, 0.01);
}
.home-content2 {
  background-color: #f0f0f0;
  height: 430px;
  border-top: 100px solid rgb(245, 245, 245);
  border-top: 100px solid rgba(245, 245, 245, 0.01);
}

.home-content3 {
  background: #b50036;
  padding: 65px;
  color: whitesmoke;
}

.home-content4 {
  background-color: #f0f0f0;
  height: 640px;
  border-top: 100px solid rgb(245, 245, 245);
  border-top: 100px solid rgba(245, 245, 245, 0.01);
}
.form-group {
  margin-top: 20px;
}

.titleLabels {
  margin-bottom: 10px;
}
.bltn {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(61, 61, 61, 0.53);
}
.bltn-s {
  background: white;
  color: #f1356d;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(61, 61, 61, 0.53);
}

.bltn-s:hover {
  background-color: #f1356d;
  color: #fff;
}

.bltn:hover {
  background-color: #fff;
  color: #f1356d;
}
.anchor {
  color: whitesmoke;
}
.anchor:hover {
  color: gray;
}

.blog-header {
  background-color: whitesmoke;
  padding-top: 100px;
  height: 500px;
  border-bottom: 10px solid rgb(245, 245, 245);
  border-bottom: 10px solid rgba(245, 245, 245, 0.01);
}
.blog-starter {
  padding: 60px;
  background-color: #fff7f9;
  max-height: 1000px;
  overflow-y: scroll;
}
.blog-starter a {
  text-decoration: none;
  color: #ff789b;
}
.blog-preview {
  margin-top: 30px;
  padding: 20px;
  box-shadow: 3px 3px 3px rgba(54, 54, 54, 0.22);
  border-radius: 20px;
}
.blog-preview:hover {
  cursor: pointer;
}
.create-blog:hover {
  box-shadow: 3px 3px 3px rgba(54, 54, 54, 0.22);
  color: #ff789b;
  border-radius: 30px;
  cursor: pointer;
}
