@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}
.nav-brand {
  color: #f1356d;
}
.side-links a {
  text-decoration: none;
  margin-bottom: -10px;
  margin: 10px;
  color: gray;
}
.content-bold {
  font-size: 35px;
  color: #f1356d;
  font-weight: bold;
}
.home-icon {
  margin-right: 15px;
  color: #f1356d;
}
.home-content1 {
  background-color: whitesmoke;
  padding: 50px;
  border-bottom: 10px solid rgb(245, 245, 245);
  border-bottom: 10px solid rgba(245, 245, 245, 0.01);
}
.home-content2 {
  background-color: #f0f0f0;
  height: 400px;
  border-top: 100px solid rgb(245, 245, 245);
  border-top: 100px solid rgba(245, 245, 245, 0.01);
}
.form-group {
  margin-top: 20px;
}
